@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TOTO</h1>
    <a asp-controller="Home" asp-action="ShowDaysOfWeek">Show Days of the Week</a>
    <a asp-controller="Home" asp-action="ShowFutureWeek">Show Future Days</a>
</div>
