@{
    ViewData["Title"] = "FutureDays";
}
@model Tuple<int, int, List<DateTime>>

<h1>Future Week Dates</h1>

<form method="get">
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" value="@Model.Item1" />
    <br />
    <label for="weekNumber">Week Number:</label>
    <input type="text" id="weekNumber" name="weekNumber" value="@Model.Item2" />
    <br />
    <input type="submit" value="Show Future Dates" />
</form>

<table>
    <thead>
        <tr>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var date in Model.Item3)
        {
            <tr>
                <td>@date.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
